<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <connectionStrings>
    <add name="Logs" connectionString="Url=http://[RAVEN_DB_SERVER]:8080/;DefaultDatabase=[OPTIONAL_DEFAULT_DATABASE]"/>
  </connectionStrings>
  <appSettings>
    <add key="serilog:minimum-level" value="Information"/>
    <add key="serilog:using:RavenDB" value="Serilog.Sinks.RavenDB"/>
    <add key="serilog:write-to:RavenDB.connectionStringName" value="Logs"/>
    <add key="serilog:write-to:RavenDB.defaultDatabase" value="[DEFAULT_DATABASE]"/>

    <add key="Broker" value="FXCM"/>
    <add key="Username" value="D102412895"/>
    <add key="Password" value="1234"/>
    <add key="AccountNumber" value="02402856"/>
    <add key="Url" value="http://www.fxcorporate.com/Hosts.jsp"/>
    <add key="Connection" value="Demo"/>
    <add key="SessionId" value="{SESSIONID}"/>
    <add key="Pin" value="{PIN}"/>
    <add key="Instrument" value="AUD/USD"/>
    <add key="Timeframe" value="Min"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
  </runtime>
</configuration>
