[Unit]
Description=Nautilus algorithmic trading data service
After=network.target

[Service]
Type=simple
User=nautilus
SyslogIdentifier=nautilus-data
WorkingDirectory=/home/nautilus/nautilus-data/
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
ExecStart=/usr/bin/dotnet /home/nautilus/nautilus-data/NautilusData.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
KillMode=process
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
